@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url('https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaB.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), url('https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAjsOUYevI.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Nunito Black'), local('Nunito-Black'), url('https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAtsGUYevI.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Dejavu Sansbook';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url('fonts/dejavusans-webfont.woff2') format('woff2'),
    url('fonts/dejavusans-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Dejavu Extra Light';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url('fonts/dejavusans-extralight-webfont.woff2') format('woff2'),
    url('fonts/dejavusans-extralight-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Dejavu Sansbold';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url('fonts/dejavusans-bold-webfont.woff2') format('woff2'),
    url('fonts/dejavusans-bold-webfont.woff') format('woff');
}


@font-face {
    font-family: 'BPG Nino Medium Capsregular';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url('fonts/bpg_nino_medium_caps-webfont.woff2') format('woff2'),
    url('fonts/bpg_nino_medium_caps-webfont.woff') format('woff');
}